.title{
    font-size: 6vw;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'EB Garamond', serif;
    background-color:#4484CE;
}
/* .selectOpt{
    color: black;
    font-size: 3vw;
}
.option{
    background-color: #F19F4D;
    font-size: 4.5vw;
    padding-left: 2%;
}
.card{
    padding-left: 2%;
    margin-top: 3%;
    color:black;
    margin-bottom: 3%;
}
.character{
border: 2px solid red;
}
.book{
    border: 2px solid blue;
}
.house{
    border: 2px solid green;
} */